/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "features";
@import 'slick';
@import 'slick-theme';
@import "font-awesome";
@import "editable/bootstrap-editable";

.page-top {
  margin-top: 30px
}

.container {
  margin-left: 15px;
}

.detail-section {
  //margin-left: 10px;
}

.color-picker-input {
  vertical-align: middle;
}

.color-box {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.color-list-container {
  overflow-y: scroll;
  overflow-x: none;
  width: 200px;
  height: 100px;
  box-sizing: border-box;
}

.selected-color-box {
  width: 30px;
  height: 30px;
  display: inline-block;
}

textarea {
  border: none;
  resize: none;
}

#sidebar.affix-top {
  position: static;
  margin-top:30px;
  width:228px;
}

#sidebar.affix {
  position: fixed;
  top:70px;
  width:228px;
}

#score-panel-heading {
  background-color: #f9dafb;
}

.house-images-container {
  img {
    margin: auto;
    width: 100%;
  }
}

.slick-prev:before, .slick-next:before {
  color: green;
}

tr:hover {
  background-color: #f9dafb;
}



#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 480px;
  float: left;
  width: 70%;
  height: 480px;
}
#right-panel {
  margin: 20px;
  border-width: 2px;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}
#directions-panel {
  margin-top: 10px;
  padding: 10px;
}